<tr class="align-middle" data-flyer-id="<%= flyer.id -%>">
  <td class="text-center align-middle">
    <%= image_tag 'gateway_images/gateway_default.png', alt: 'flyer', height: height_image, width: width_image , class: 'object-fit-contain p-1 rounded bg-white' %>
  </td>
  <td nowrap class="text-center">
    <%= link_to flyer.active ? "Ativo" : "Inativo", 
      flyer.active ? toggle_store_gateway_path(flyer, kind: 'flyer') : active_flyer_store_gateway_path(flyer),
      method: :get,
      class: "text-white tippy fw-bold btn btn-sm btn-#{flyer.active? ? 'success' : 'danger'}",
      data: { confirm: t("helpers.confirm"),
              tippy_content: "#{flyer.active? ? 'Desativar flyer' : 'Ativar flyer'}",
              id: flyer.id} %>
</td>
<td width="200" class="options">
  <% if flyer.active? %>
    <%= link_to toggle_store_gateway_path(flyer, kind: "flyer"), class: 'tippy btn btn-sm btn-danger text-white',
      data: { confirm: 'Qualquer outra configuração ficará inativa. Continuar?', 'tippy-content': "Desativar" } do %>
      <i data-feather="x-circle"></i>
    <% end %>
  <% else %>
    <%= link_to active_flyer_store_gateway_path(flyer), class: 'tippy btn btn-sm btn-success text-white',
      data: { confirm: 'Qualquer outra configuração ficará inativa. Continuar?', 'tippy-content': t('.active', default: t("helpers.links.active")) } do %>
      <i data-feather="check-square"></i>
    <% end %>
  <% end %>
  <%= link_to edit_flyer_store_gateway_path(flyer), class: 'tippy btn btn-sm btn-primary',
    :'data-tippy-content' => t('.edit', default: t("helpers.links.edit")) do %>
    <i data-feather="edit"></i>
  <% end %>
  <%= link_to destroy_flyer_store_gateway_path(flyer), method: :delete, data: { confirm: t("helpers.confirm") }, class: 'tippy btn btn-sm btn-danger text-white',
    :'data-tippy-content' => t('.destroy', default: t("helpers.links.destroy")) do %>
    <i data-feather="trash-2"></i>
  <% end %>
</td>
</tr>
