<div id="form_dora">
  <div class="dora">
    <%= render_image_gateway 'gateways_images/gateway_default.png', 'p-1'%>
  </div>
  <%= bootstrap_form_for @dora_config, url: @dora_config.persisted? ? update_dora_store_gateway_path(@dora_config) : create_dora_store_gateways_path do |f| %>
    <%#= show_errors_for(f.object) %>
    <div class="block block-rounded block-themed shadow-sm">
      <div class="block-header bg-white border-bottom">7
        <h3 class="block-title font-weight-bold text-dark">
          Dados dora
        </h3>
      </div>
      <div class="block-content">
        <% if f.object.errors[:base].present? %>
          <div class="row">
            <div class="col-12">
              <p><%= f.object.errors[:base] %></p>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-12">
            <%= f.text_field :public_key, placeholder: "pk_" %>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= f.text_field :secret_key, placeholder: "sk_" %>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <%= f.text_field :formatted_rate, class: 'inputmask', required: true, value: number_with_precision(f.object.rate, precision: 2), append: '%' %>
          </div>
        </div>
      </div>
    </div>
    <div class="text-end">
      <%= f.submit "Salvar configuração", class: 'btn btn-primary', data: {disable_with: 'Salvando...'} %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")), session[:redirection_after_register].present? ? store_redirection_after_register_path : store_gateways_path, class: 'btn btn-outline-primary' %>
    </div>
  <% end %>
</div>
