<tr class="align-middle" data-supercash-id="<%= supercash.id -%>">
  <td class="text-center align-middle">
    <%= image_tag 'gateway_images/gateway_default.png', alt: 'supercash', height: height_image, width: width_image , class: 'object-fit-contain p-1 rounded bg-white' %>
  </td>
  <td nowrap class="text-center">
    <%= link_to supercash.active ? "Ativo" : "Inativo", 
      supercash.active ? toggle_store_gateway_path(supercash, kind: 'supercash') : active_supercash_store_gateway_path(supercash),
      method: :get,
      class: "text-white tippy fw-bold btn btn-sm btn-#{supercash.active? ? 'success' : 'danger'}",
      data: { confirm: t("helpers.confirm"),
              tippy_content: "#{supercash.active? ? 'Desativar supercash' : 'Ativar supercash'}",
              id: supercash.id} %>
</td>
<td width="200" class="options">
  <% if supercash.active? %>
    <%= link_to toggle_store_gateway_path(supercash, kind: "supercash"), class: 'tippy btn btn-sm btn-danger text-white',
      data: { confirm: 'Qualquer outra configuração ficará inativa. Continuar?', 'tippy-content': "Desativar" } do %>
      <i data-feather="x-circle"></i>
    <% end %>
  <% else %>
    <%= link_to active_supercash_store_gateway_path(supercash), class: 'tippy btn btn-sm btn-success text-white',
      data: { confirm: 'Qualquer outra configuração ficará inativa. Continuar?', 'tippy-content': t('.active', default: t("helpers.links.active")) } do %>
      <i data-feather="check-square"></i>
    <% end %>
  <% end %>
  <%= link_to edit_supercash_store_gateway_path(supercash), class: 'tippy btn btn-sm btn-primary',
    :'data-tippy-content' => t('.edit', default: t("helpers.links.edit")) do %>
    <i data-feather="edit"></i>
  <% end %>
  <%= link_to destroy_supercash_store_gateway_path(supercash), method: :delete, data: { confirm: t("helpers.confirm") }, class: 'tippy btn btn-sm btn-danger text-white',
    :'data-tippy-content' => t('.destroy', default: t("helpers.links.destroy")) do %>
    <i data-feather="trash-2"></i>
  <% end %>
</td>
</tr>
