<tr class="align-middle" data-vegapay-id="<%= vegapay.id -%>">
  <td class="text-center align-middle">
    <%= image_tag 'gateway_images/gateway_default.png', alt: 'vegapay', height: height_image, width: width_image , class: 'object-fit-contain p-1 rounded bg-white' %>
  </td>
  <td nowrap class="text-center">
    <%= link_to vegapay.active ? "Ativo" : "Inativo", 
      vegapay.active ? toggle_store_gateway_path(vegapay, kind: 'vegapay') : active_vegapay_store_gateway_path(vegapay),
      method: :get,
      class: "text-white tippy fw-bold btn btn-sm btn-#{vegapay.active? ? 'success' : 'danger'}",
      data: { confirm: t("helpers.confirm"),
              tippy_content: "#{vegapay.active? ? 'Desativar vegapay' : 'Ativar vegapay'}",
              id: vegapay.id} %>
</td>
<td width="200" class="options">
  <% if vegapay.active? %>
    <%= link_to toggle_store_gateway_path(vegapay, kind: "vegapay"), class: 'tippy btn btn-sm btn-danger text-white',
      data: { confirm: 'Qualquer outra configuração ficará inativa. Continuar?', 'tippy-content': "Desativar" } do %>
      <i data-feather="x-circle"></i>
    <% end %>
  <% else %>
    <%= link_to active_vegapay_store_gateway_path(vegapay), class: 'tippy btn btn-sm btn-success text-white',
      data: { confirm: 'Qualquer outra configuração ficará inativa. Continuar?', 'tippy-content': t('.active', default: t("helpers.links.active")) } do %>
      <i data-feather="check-square"></i>
    <% end %>
  <% end %>
  <%= link_to edit_vegapay_store_gateway_path(vegapay), class: 'tippy btn btn-sm btn-primary',
    :'data-tippy-content' => t('.edit', default: t("helpers.links.edit")) do %>
    <i data-feather="edit"></i>
  <% end %>
  <%= link_to destroy_vegapay_store_gateway_path(vegapay), method: :delete, data: { confirm: t("helpers.confirm") }, class: 'tippy btn btn-sm btn-danger text-white',
    :'data-tippy-content' => t('.destroy', default: t("helpers.links.destroy")) do %>
    <i data-feather="trash-2"></i>
  <% end %>
</td>
</tr>
